body {
    font-family: Arial, Helvetica, sans-serif;

    background-color: lightpink;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
}
.caixa {
    background-color: white;

    padding: 30px;

    border-radius: 10px;

    box-shadow: 0 0 10px rgba(lightpink, rgb(224, 106, 141), rgb(245, 144, 236), alpha);

    text-align: center;
    width: 300px;
}
input {
    width: 80%;

    padding: 10px;

    margin-top: 10px;

    font-size: 16px;
}
button {
    margin-top: 10px;

    padding: 10px 20px;

    border: none;

    background-color: rgb(211, 101, 156);

    color: white;

    border-radius: 5px;

    cursor: pointer;
}
button:hover {
    background-color: palevioletred;
}
#resultado {
    margin-top: 20px;

    font-size: 18px;

    font-weight: bold;
}